---
import TableOfContents from "../components/TableOfContents.astro";
import GlobalLayout from "./GlobalLayout.astro";
const {frontmatter, headings} = Astro.props;
const hasImageCaption = !!frontmatter.imageCaption;
---

<GlobalLayout>
    <figure class="sm:float-right mx-auto rounded-[2em] table sm:ml-8 mb-12 sm:mb-0">
        <img src={frontmatter.image} class="max-h-96 rounded-[2em]"/>
        {hasImageCaption &&
                <figcaption class="table-caption caption-bottom mt-4">{frontmatter.imageCaption}</figcaption>}
    </figure>
    <article class="min-w-full prose lg:prose-2xl md:prose-xl dark:prose-invert text-justify mb-24">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{frontmatter.title}</h1>
        <p class="mt-4 text-gray-900 dark:text-white">{frontmatter.description}</p>
        <span class="text-gray-500 dark:text-gray-300">{frontmatter.pubDate}</span>
        <TableOfContents headings={headings} />
        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
        <div class="text-gray-900 dark:text-white">
            <slot/>
        </div>
    </article>
    
</GlobalLayout>
